<li class="list-group-item">
  <%= link_to chat.title, chat_url(chat.title), class: "text-blue-500 hover:underline focus:outline-none focus:shadow-outline-blue active:text-blue-800 mr-4" , target: "_blank", rel: "noopener noreferrer" %>
</li>